.formtext {
	border-radius: 100px;
	padding: 10px;
	width: 300px;
}

.formbutton {
	border-radius: 100px;
	padding: 10px;
	width: 320px;
	background-color: #172f6d;
	color: white;
	cursor: pointer;
}

.formmenu {
	border-radius: 100px;
	padding: 10px;
	width: 320px;
}

.container {
	display: block;
	position: relative;
	padding-left: 0px;
	padding-top: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 15px;
	font-family: "Lato Light";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 120px;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 35%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #172f6d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#fram123 {
	z-index: 100;
	height: 800px;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	width: 30%;
	left: 27.5%;
}

.version.employee_registration {
	color: #000007;
	background-color: #846B2A;
}

#page {
	z-index: 1;
	min-height: 500px;
	border-width: 0px;
	border-color: #000000;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/layer%200.jpg?crc=41894508")
		no-repeat left top;
	background-size: cover;
}

#pu133 {
	z-index: 5;
	height: 0px;
	padding-bottom: 648px;
	margin-right: -10000px;
	width: 100%;
}

#u133 {
	z-index: 5;
	position: fixed;
	top: 324px;
	left: 19px;
	width: 3.15%;
}

#u141 {
	z-index: 7;
	position: fixed;
	top: 469px;
	left: 19px;
	width: 3.15%;
}

#u148 {
	z-index: 9;
	position: fixed;
	top: 180px;
	left: 20px;
	width: 3.15%;
}

#u155 {
	z-index: 11;
	position: fixed;
	top: 621px;
	left: 19px;
	width: 3.15%;
}

#u133:hover, #u141:hover, #u148:hover, #u155:hover {
	min-height: 0px;
	width: 3.15%;
	margin: 0px;
}

#u94 {
	z-index: 106;
	height: 140px;
	position: fixed;
	top: 0px;
}

#u94-bw {
	z-index: 106;
}

#u97 {
	z-index: 107;
	position: fixed;
	top: 27px;
	left: 137px;
	width: 22.78%;
}

#u105 {
	z-index: 109;
	position: fixed;
	top: 17px;
	left: 27px;
	width: 6.02%;
}

#u3532-6 {
	z-index: 111;
	min-height: 46px;
	background-color: transparent;
	text-align: right;
	color: #FFFFFF;
	position: fixed;
	top: 39px;
	right: 193px;
	width: 21.76%;
}

#u3532-2 {
	font-size: 25px;
	line-height: 30px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u3532-4 {
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#menuu3533 {
	z-index: 117;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 9px;
	right: 26px;
	width: 9.54%;
}

#u3534 {
	min-height: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3535 {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	padding-bottom: 91px;
	position: relative;
	width: 100%;
	background: transparent
		url("../images/kishan%20samarakoon-u1297-fr.png?crc=3764819010")
		no-repeat left top;
	background-size: contain;
}

#u3535.MuseMenuActive {
	background-repeat: no-repeat;
	background-position: left top;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background-size: contain;
}

#u3537-3 {
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 45px;
	width: 100%;
}

#u3535.MuseMenuActive #u3537-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3535.MuseMenuActive #u3537-3 p {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u3539 {
	background-color: transparent;
	top: 108px;
	width: 75.73%;
}

#u3540, #u3541 {
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u3544 {
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u3544:hover {
	background-color: #AAAAAA;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3544.MuseMenuActive {
	background-color: #666666;
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3546-4 {
	min-height: 8px;
	background-color: transparent;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 94.88%;
	left: 2.57%;
}

#u3544:hover #u3546-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 8px;
	width: 94.88%;
	margin: 0px -10000px 0px 0%;
}

#u3544.MuseMenuActive #u3546-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 8px;
	width: 94.88%;
	margin: 0px -10000px 0px 0%;
}

#u3546-3 {
	font-size: 11px;
	text-align: center;
	line-height: 6px;
	margin-left: 2px;
	margin-right: 2px;
}

.MenuItem {
	cursor: pointer;
}

#pu1447 {
	height: 100%;
	z-index: 2;
	margin-right: -10000px;
	width: 100%
}

#u1447 {
	z-index: 2;
	min-height: 646px;
}

.js body {
	visibility: hidden;
}

.js body.initialized {
	visibility: visible;
}

#u1447-bw {
	z-index: 2;
	min-height: 646px;
	margin-top: 140px;
}

#u117 {
	z-index: 3;
	height: 100%;
	position: absolute;
	margin-right: -10000px;
	width: 6.02%;
}

#u128 {
	z-index: 4;
	height: 100%;
	position: absolute;
	margin-right: -10000px;
	width: 19.45%;
	left: 80.56%;
}

#u183 {
	z-index: 13;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	width: 13.34%;
	left: 83.34%;
}

#menuu669 {
	z-index: 15;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
	width: 12.13%;
	left: 83.99%;
}

#u677 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u678 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u678:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u678:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u679-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 89.32%;
}

#u678:hover #u679-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 89.32%;
	margin: 0px -10000px 0px 0%;
}

#u678:active #u679-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 89.32%;
	margin: 0px -10000px 0px 0%;
}

#u678.MuseMenuActive #u679-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 89.32%;
	margin: 0px -10000px 0px 0%;
}

#u680 {
	z-index: 22;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	width: 10.69%;
	left: 89.32%;
}

#u678:hover #u680 {
	height: 14px;
	min-height: 0px;
	width: 10.69%;
	margin: 0px -10000px 0px 0%;
}

#u678:active #u680 {
	height: 14px;
	min-height: 0px;
	width: 10.69%;
	margin: 0px -10000px 0px 0%;
}

#u678.MuseMenuActive #u680 {
	height: 14px;
	min-height: 0px;
	width: 10.69%;
	margin: 0px -10000px 0px 0%;
}

#u682 {
	top: 34px;
	width: 78.63%;
}

#u683 {
	position: relative;
	width: 100%;
}

#u678.MuseMenuActive, #u683:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u716 {
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u716:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u720-4 {
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 96.12%;
	left: 1.95%;
}

#u716:hover #u720-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 96.12%;
	margin: 0px -10000px 0px 0%;
}

#u789 {
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u716.MuseMenuActive, #u789:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u790-4 {
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 96.12%;
	left: 1.95%;
}

#u716.MuseMenuActive #u720-4, #u789:hover #u790-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 96.12%;
	margin: 0px -10000px 0px 0%;
}

#u768 {
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u789.MuseMenuActive, #u768:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u769-4 {
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 96.12%;
	left: 1.95%;
}

#u789.MuseMenuActive #u790-4, #u768:hover #u769-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 96.12%;
	margin: 0px -10000px 0px 0%;
}

#u714, #u786, #u765, #u744 {
	position: relative;
	width: 100%;
}

#u747 {
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u768.MuseMenuActive, #u747:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u747.MuseMenuActive {
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u748-4 {
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 96.12%;
	left: 1.95%;
}

#u768.MuseMenuActive #u769-4, #u747:hover #u748-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 96.12%;
	margin: 0px -10000px 0px 0%;
}

#u747.MuseMenuActive #u748-4 {
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 96.12%;
	margin: 0px -10000px 0px 0%;
}

#u720-3, #u790-3, #u769-3, #u748-3 {
	margin-left: 2px;
	margin-right: 2px;
}

#accordionu957 {
	z-index: 49;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	width: 16.12%;
	left: 82.13%;
}

#u958 {
	z-index: 50;
	position: relative;
	width: 100%;
}

#u959-4 {
	z-index: 51;
	min-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u959-4:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u959-4:active {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u960 {
	z-index: 55;
	position: relative;
	width: 100%;
}

#u961-10 {
	z-index: 56;
	min-height: 52px;
	position: relative;
	margin-right: -10000px;
	width: 98.86%;
	left: 1.15%;
}

#u966 {
	z-index: 66;
	position: relative;
	width: 100%;
}

#u967-4 {
	z-index: 67;
	min-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u959-4.AccordionPanelTabOpen, #u967-4:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u967-4:active {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u968 {
	z-index: 71;
	position: relative;
	width: 100%;
}

#u969-12 {
	z-index: 72;
	min-height: 56px;
	position: relative;
	margin-right: -10000px;
	width: 87.94%;
	left: 2.3%;
}

#u962 {
	z-index: 84;
	position: relative;
	width: 100%;
}

#u963-4 {
	z-index: 85;
	min-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u967-4.AccordionPanelTabOpen, #u963-4:hover {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u963-4:active {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u963-4.AccordionPanelTabOpen {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u959-3, #u967-3, #u963-3 {
	margin-left: 10px;
}

#u964 {
	z-index: 89;
	padding-bottom: 7px;
	position: relative;
	width: 100%;
}

#u965-10 {
	z-index: 90;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	width: 81.04%;
	left: 1.73%;
}

#u3130 {
	z-index: 100;
	height: 550px;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	width: 30%;
	left: 27.5%;
}

#u3129-4 {
	z-index: 101;
	min-height: 49px;
	border-width: 0px;
	background-color: transparent;
	line-height: 42px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	width: 31.3%;
	left: 26.76%;
}

#u3129-4:hover {
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 31.3%;
	margin: 272px -10000px 0px 0%;
}

#u3128 {
	z-index: 105;
	min-height: 193px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 352px;
	width: 26.12%;
	left: 29.36%;
}

#muse_css_mq, .html {
	background-color: #FFFFFF;
}

body {
	position: relative;
	min-width: 320px;
}

#u133_img, #u141_img, #u148_img, #u155_img, #u97_img, #u105_img,
	#u183_img {
	width: 100%;
}

/* The container */
.container2 {
	display: block;
	position: relative;
	padding-left: 0px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	font-family: "Lato Light";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
}

/* Hide the browser's default checkbox */
.container2 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark2 {
	position: absolute;
	top: -3px;
	left: 65px;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 35%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
	background-color: #172f6d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark2:after {
	display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark2:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}