<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BlueTown</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>bluelitecompany@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>bluelite96</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Sales_AddApartment</display-name>
    <servlet-name>Sales_AddApartment</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_AddApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_AddApartment</servlet-name>
    <url-pattern>/Sales_AddApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_AddFeatures</display-name>
    <servlet-name>Sales_AddFeatures</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_AddFeatures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_AddFeatures</servlet-name>
    <url-pattern>/Sales_AddFeatures</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_AddSales</display-name>
    <servlet-name>Sales_AddSales</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_AddSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_AddSales</servlet-name>
    <url-pattern>/Sales_AddSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_EditSales</display-name>
    <servlet-name>Sales_EditSales</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_EditSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_EditSales</servlet-name>
    <url-pattern>/Sales_EditSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_EditFeatures</display-name>
    <servlet-name>Sales_EditFeatures</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_EditFeatures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_EditFeatures</servlet-name>
    <url-pattern>/Sales_EditFeatures</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_ReportApartment</display-name>
    <servlet-name>Sales_ReportApartment</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_ReportApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_ReportApartment</servlet-name>
    <url-pattern>/Sales_ReportApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_ReportSales</display-name>
    <servlet-name>Sales_ReportSales</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_ReportSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_ReportSales</servlet-name>
    <url-pattern>/Sales_ReportSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRevenue</display-name>
    <servlet-name>AddRevenue</servlet-name>
    <servlet-class>blueLite.com.controller.AddRevenue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRevenue</servlet-name>
    <url-pattern>/AddRevenue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteApartment</display-name>
    <servlet-name>DeleteApartment</servlet-name>
    <servlet-class>blueLite.com.controller.DeleteApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApartment</servlet-name>
    <url-pattern>/DeleteApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales_EditApartment</display-name>
    <servlet-name>Sales_EditApartment</servlet-name>
    <servlet-class>blueLite.com.controller.Sales_EditApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales_EditApartment</servlet-name>
    <url-pattern>/Sales_EditApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_AddEmployee</display-name>
    <servlet-name>HR_AddEmployee</servlet-name>
    <servlet-class>blueLite.com.controller.HR_AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_AddEmployee</servlet-name>
    <url-pattern>/HR_AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_EditEmployee</display-name>
    <servlet-name>HR_EditEmployee</servlet-name>
    <servlet-class>blueLite.com.controller.HR_EditEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_EditEmployee</servlet-name>
    <url-pattern>/HR_EditEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_AddSalary</display-name>
    <servlet-name>HR_AddSalary</servlet-name>
    <servlet-class>blueLite.com.controller.HR_AddSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_AddSalary</servlet-name>
    <url-pattern>/HR_AddSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_AddCareer</display-name>
    <servlet-name>HR_AddCareer</servlet-name>
    <servlet-class>blueLite.com.controller.HR_AddCareer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_AddCareer</servlet-name>
    <url-pattern>/HR_AddCareer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_EditCareer</display-name>
    <servlet-name>HR_EditCareer</servlet-name>
    <servlet-class>blueLite.com.controller.HR_EditCareer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_EditCareer</servlet-name>
    <url-pattern>/HR_EditCareer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_AddFinanceEntryController</display-name>
    <servlet-name>Finance_AddFinanceEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_AddFinanceEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_AddFinanceEntryController</servlet-name>
    <url-pattern>/Finance_AddFinanceEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_AddAssetEntryController</display-name>
    <servlet-name>Finance_AddAssetEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_AddAssetEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_AddAssetEntryController</servlet-name>
    <url-pattern>/Finance_AddAssetEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_AddPurchaseEntryController</display-name>
    <servlet-name>Finance_AddPurchaseEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_AddPurchaseEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_AddPurchaseEntryController</servlet-name>
    <url-pattern>/Finance_AddPurchaseEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_EditAssetEntryController</display-name>
    <servlet-name>Finance_EditAssetEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_EditAssetEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_EditAssetEntryController</servlet-name>
    <url-pattern>/Finance_EditAssetEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_EditFinanceEntryController</display-name>
    <servlet-name>Finance_EditFinanceEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_EditFinanceEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_EditFinanceEntryController</servlet-name>
    <url-pattern>/Finance_EditFinanceEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_AddBillEntryController</display-name>
    <servlet-name>Finance_AddBillEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_AddBillEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_AddBillEntryController</servlet-name>
    <url-pattern>/Finance_AddBillEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_EditBillEntryController</display-name>
    <servlet-name>Finance_EditBillEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_EditBillEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_EditBillEntryController</servlet-name>
    <url-pattern>/Finance_EditBillEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Finance_EditPurchaseEntryController</display-name>
    <servlet-name>Finance_EditPurchaseEntryController</servlet-name>
    <servlet-class>blueLite.com.controller.Finance_EditPurchaseEntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Finance_EditPurchaseEntryController</servlet-name>
    <url-pattern>/Finance_EditPurchaseEntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinanceEntryReport</display-name>
    <servlet-name>FinanceEntryReport</servlet-name>
    <servlet-class>blueLite.com.reports.FinanceEntryReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceEntryReport</servlet-name>
    <url-pattern>/FinanceEntryReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRM_registration</display-name>
    <servlet-name>CRM_registration</servlet-name>
    <servlet-class>blueLite.com.controller.CRM_registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRM_registration</servlet-name>
    <url-pattern>/CRM_registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CRM_Login1</servlet-name>
    <servlet-class>blueLite.com.controller.CRM_Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRM_Login1</servlet-name>
    <url-pattern>/CRM_Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRM_editCus</display-name>
    <servlet-name>CRM_editCus</servlet-name>
    <servlet-class>blueLite.com.controller.CRM_editCus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRM_editCus</servlet-name>
    <url-pattern>/CRM_editCus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRM_Login</display-name>
    <servlet-name>CRM_Login</servlet-name>
    <servlet-class>blueLite.com.controller.CRM_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRM_Login</servlet-name>
    <url-pattern>/CRM_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRM_ReportCustomer</display-name>
    <servlet-name>CRM_ReportCustomer</servlet-name>
    <servlet-class>blueLite.com.controller.CRM_ReportCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRM_ReportCustomer</servlet-name>
    <url-pattern>/CRM_ReportCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_AddHR</display-name>
    <servlet-name>ORM_AddHR</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_AddHR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_AddHR</servlet-name>
    <url-pattern>/ORM_AddHR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_AddMet</display-name>
    <servlet-name>ORM_AddMet</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_AddMet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_AddMet</servlet-name>
    <url-pattern>/ORM_AddMet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_Addservice</display-name>
    <servlet-name>ORM_Addservice</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_Addservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_Addservice</servlet-name>
    <url-pattern>/ORM_Addservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_EditHR</display-name>
    <servlet-name>ORM_EditHR</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_EditHR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_EditHR</servlet-name>
    <url-pattern>/ORM_EditHR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_EditMet</display-name>
    <servlet-name>ORM_EditMet</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_EditMet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_EditMet</servlet-name>
    <url-pattern>/ORM_EditMet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_ReportMaterial</display-name>
    <servlet-name>ORM_ReportMaterial</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_ReportMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_ReportMaterial</servlet-name>
    <url-pattern>/ORM_ReportMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_ReportHr</display-name>
    <servlet-name>ORM_ReportHr</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_ReportHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_ReportHr</servlet-name>
    <url-pattern>/ORM_ReportHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ORM_reportService</display-name>
    <servlet-name>ORM_reportService</servlet-name>
    <servlet-class>blueLite.com.controller.ORM_reportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORM_reportService</servlet-name>
    <url-pattern>/ORM_reportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Event_Event_AddEvent</display-name>
    <servlet-name>Event_AddEvent</servlet-name>
    <servlet-class>blueLite.com.controller.Event_AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event_AddEvent</servlet-name>
    <url-pattern>/Event_AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Event_EditEvent</display-name>
    <servlet-name>Event_EditEvent</servlet-name>
    <servlet-class>blueLite.com.controller.Event_EditEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event_EditEvent</servlet-name>
    <url-pattern>/Event_EditEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Event_AddTask</display-name>
    <servlet-name>Event_AddTask</servlet-name>
    <servlet-class>blueLite.com.controller.Event_AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event_AddTask</servlet-name>
    <url-pattern>/Event_AddTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Event_EventReport</display-name>
    <servlet-name>Event_EventReport</servlet-name>
    <servlet-class>blueLite.com.controller.Event_EventReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event_EventReport</servlet-name>
    <url-pattern>/Event_EventReport</url-pattern>
  </servlet-mapping>
</web-app>